{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Event Management{% endblock %}</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body class=" text-gray-900">

    <!-- ✅ Include Navbar -->
    {% include 'partials/navbar.html' %}

    <!-- ✅ Page specific content -->
    {% block content %}
    {% endblock %}

    <!-- ✅ Include Footer -->
    {% include 'partials/footer.html' %}
  </body>
</html>
